/* Palette of colors */
/* Maine page background color -  #FFF */
/* Secondary page background color - #2F303A */
    /* Maine text color - #757575 */
    /* Secondary text color - #212121 */
    /* Complementary text color - #FFF */
    /* Accent text color - #2196F3*/
    /* Individual color of some text in footer - rgba(255, 255, 255, 0.6) */

/* Common body parameters of all site pages */
body {
    background: #FFF; /* + */
    color: #757575; /* + */
    font-family: 'Roboto', sans-serif; /* + */
    font-weight: 400; /* ? */
    
}

.logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;  /* Цвет должен быть задан переменной???*/
}

/* Site-nav link state at hover, focus & active*/
.site-nav__link:hover,
.site-nav__link:focus {
    color: #2196F3;
}

/* Contacts link state at hover, focus & active*/
.contacts__link:hover,
.contacts__link:focus {
    color: #2196F3;
}